.button__back {
  position: absolute;
  right: 0;
  top: 0;
}

.task {
  cursor: grab;
}

.status__wrap {
  display: flex;
  flex-wrap: wrap; /* Поддержка переноса элементов на новую строку */
  gap: 20px;
  justify-content: space-evenly;
}

.status__container {
  width: 100%; /* Ширина контейнера для каждого приоритета */
  max-width: 400px; /* Максимальная ширина элемента */
}

.status__item {
  border: 1px solid #000;
  margin-bottom: 20px; /* Увеличенный отступ между элементами */
  text-align: center;
  padding: 10px;
  border-radius: 10px;
}

.button-add__task {
  display: block;
  margin: 10px auto;
}

textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  margin: 10px 0;
}

.status__remove {
  background-color: #dc3545;
}

.status__remove:hover {
  background-color: #a61f2d;
}

.subtask__inner {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
