.status__wrap {
  display: flex;
  gap: 50px;
  margin: 5px;
  justify-content: center;
}

.status__item {
  border: 1px solid #000;
  margin-bottom: 10px;
  text-align: center;
  padding: 10px;
}

.status__button-wrap {
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-bottom: 5px;
}

ul {
  list-style-type: none;
}

.priority {
  margin-left: 10px;
}

.button-add__task {
  display: block;
  margin: 10px auto;
}

textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  margin: 10px 0;
}

/* Стили для удаления задачи */
.status__remove {
  background-color: #dc3545;
}

.status__remove:hover {
  background-color: #a61f2d;
}
